$theme_grade1: #0CC1FF;
$theme_grade2: #374955;
$theme_grade3: #9AAEBB;
$theme_grade4: #EF98D6;
$theme_grade5: #B5639F;

$prefix: "pre";

html {    
    background-color: $theme_grade2;
}

#{$prefix'-card'} {
    //bla
}