@import '_mixin';
@import 'variables';

.card-title {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-top: 0;
  padding:  0.5rem 1rem;
}

.card {
  background-color: $theme_light;  
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

  // @include border-radius(15px);
  // @include box-shadow(1px, 1px, 12px, grey);

  margin-right: 2rem;

  h1, .title
  {    
    background-color: $theme_grade5;
    color: $theme_grade1;    
  }

  .card-top{    
    margin: 0 -2rem 1rem -2rem;
    padding: 0 2rem;
  }

}

button {
  @include border-radius(16px);
  border: 1px solid $theme_grade5;
  font-family: $font-header;
  font-size: 1em;
  
  font-weight: 100;

  background-color: $theme_grade5;
  color: $theme_light;
}


