@import '_mixin';

.card {
  background-color: white;
  
  margin: 2rem;
  padding: 2rem;
  @include border-radius(15px);
  
  @include box-shadow(1px, 1px, 12px, grey);

  h1
  {
    font-family:  $font-header;

      color: white;
      background-color: black;
      margin: 0 -2rem 1rem -2rem;
      padding: 0 2rem;

  }
}